@import "tailwindcss";

:root {
  --secondary:#C5FFEE;
  --main:#C5FF41;
  --background: #ffffff;
  --foreground: #000000;
  --border: #000000;
  --foreground-text-muted: #757575;
}

.dark {
  --secondary:#C5FFEE;
  --main:#C5FF41;
  --background: #000000;
  --foreground: #ffffff;
  --border: #ffffff;
  --foreground-text-muted: #757575;
}

@layer utilities {
.container {
    @apply max-w-[1410px] px-5 w-full mx-auto;
  }
}

body {
 background: var(--background);
  color: var(--foreground);
  font-family: primaryFont, Arial, Helvetica, sans-serif;
}

